 h1{
    font-family: 'Press Start 2P', cursive;
    color:white;
}

body{
     background-color:black;
     text-align:center;
}

img{
    height:400px;
}

#pink{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}

#pink{
    border-radius: 50%;
}

#blue{
    border-radius: 50%;
}

#red{
    border-radius: 50%;
}

#purple{
    border-radius: 50%;
}

#white{
    border-radius:50%;
}

#reset{
    border-radius: 50%;
}

#blue{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}

#red{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}

#purple{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}

#white{
     background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}
#reset{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
}


button:hover {
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}

/* h1.rainbow {
    /* Chrome, Safari, Opera */
   /* -webkit-animation: rainbow 3s infinite;  */
   
   /* Internet Explorer */
   /* -ms-animation: rainbow 3s infinite; */
   
   /* Standar Syntax */
   /* animation: rainbow 3s infinite;  */
 /* } */
 
 /* Chrome, Safari, Opera */
 /* @-webkit-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 } */
 /* Internet Explorer */
 /* @-ms-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
 
 Standar Syntax */
 /* @keyframes rainbow{
     5%{color: red;}
     35%{color: yellow;}
     65%{color: green;}
     85%{color: blue;}
     0%{color: orange;}
 } */ 